<label class="block">
  @if (label) {
    <span class="text-sm font-medium text-gray-700">{{ label }}</span>
  }

  <input
    class="mt-1 w-full rounded-xl border border-slate-800 bg-slate-950 px-4 py-3 text-slate-100
           outline-none focus:ring-2 focus:ring-gray-900/10 focus:border-gray-300"
    [class.border-red-300]="!!error"
    [attr.type]="type"
    [attr.placeholder]="placeholder"
    [disabled]="disabled()"
    [value]="value()"
    (input)="handleInput($event)"
    (blur)="blur()"
  />

  @if (error) {
    <p class="mt-1 text-xs text-red-600">{{ error }}</p>
  }
</label>
